PORT=3000
SHEET_SOURCE_URL=https://docs.google.com/spreadsheets/d/1ASXQlegvGKKOZJfFe6hcY2_pnQIK3eCM/edit
QUIZ_DEFAULT_COUNT=10

APP_BASE_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
MAIL_FROM=your_email@gmail.com
QUIZ_EMAIL_TO=your_email@gmail.com
